Repository particl/particl-desktop, pull requests merged in 2018-03, with the labels that each got.

#782 Create a service for external HTTP calls & Service refactoring
  src/app/core-ui/main/main-view.module.ts
  src/app/core-ui/main/release-notification/release-notification.component.ts
  src/app/core/http/client-version.service.spec.ts
  src/app/core/http/client-version.service.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
Labels: ready for review

#875 undo subscribe for addying cart stuff and shows price and total count…
  src/app/core-ui/main/cart/cart.component.html
  src/app/core-ui/main/cart/cart.component.scss
  src/app/core-ui/main/cart/cart.component.spec.ts
  src/app/core-ui/main/cart/cart.component.ts
  src/app/core-ui/main/main-view.component.html
  src/app/core-ui/main/main-view.component.scss
  src/app/core-ui/main/main-view.component.ts
  src/app/core-ui/main/main-view.module.ts
  src/app/core/market/api/cart/cart.model.ts
  src/app/core/market/api/cart/cart.service.ts
  src/app/core/market/market-state/market-state.service.ts
  src/app/market/buy/buy.component.html
  src/app/market/buy/buy.component.ts
  src/app/market/overview-listings/preview-listing/preview-listing.component.ts
Labels: ready for review

#793 enable/display Anon features
  src/app/wallet/overview/overview.component.html
  src/app/wallet/overview/overview.component.ts
  src/app/wallet/wallet/send/send.component.html
  src/app/wallet/wallet/send/send.component.ts
Labels: ready for review

#859 Enhance/logging
  main.js
  modules/clientBinaries/clientBinariesManager.js
  modules/daemon/daemon.js
  modules/daemon/daemonManager.js
  modules/init.js
  modules/logger.js
  modules/options.js
Labels: PRG, enhancement, ready for review

#742 TX confirmation modal 2.0
  modules/options.js
  src/app/_test/wallet-test/send-test/send-mock.service.ts
  src/app/core/state/state.service.ts
  src/app/core/util/utils.ts
  src/app/wallet/wallet/send/send-confirmation-modal/send-confirmation-modal.component.html
  src/app/wallet/wallet/send/send-confirmation-modal/send-confirmation-modal.component.scss
  src/app/wallet/wallet/send/send-confirmation-modal/send-confirmation-modal.component.spec.ts
  src/app/wallet/wallet/send/send-confirmation-modal/send-confirmation-modal.component.ts
  src/app/wallet/wallet/send/send.component.html
  src/app/wallet/wallet/send/send.component.spec.ts
  src/app/wallet/wallet/send/send.component.ts
  src/app/wallet/wallet/send/send.service.ts
  src/app/wallet/wallet/send/transaction-builder.model.ts
Labels: ready for review

#902 MP Listings: Add USD conversion
  src/app/core/market/market-state/market-state.service.ts
  src/app/market/listing/listing.component.html
  src/app/market/listing/listing.component.ts
  src/app/market/overview-listings/overview-listings.component.ts
Labels: market, ready for review

#908 convert country model to service
  src/app/core/market/api/countrylist/country.model.ts
  src/app/core/market/api/countrylist/countrylist.service.spec.ts
  src/app/core/market/api/countrylist/countrylist.service.ts
  src/app/core/market/api/template/location/location.service.ts
  src/app/core/market/market.module.ts
  src/app/market/buy/buy.component.html
  src/app/market/buy/buy.component.spec.ts
  src/app/market/buy/buy.component.ts
  src/app/market/overview-listings/overview-listings.component.html
  src/app/market/overview-listings/overview-listings.component.spec.ts
  src/app/market/overview-listings/overview-listings.component.ts
  src/app/market/sell/add-item/add-item.component.html
  src/app/market/sell/add-item/add-item.component.spec.ts
  src/app/market/sell/add-item/add-item.component.ts
Labels: market, ready for review

#813 change notification library and also change notification fire call
  modules/init.js
  modules/notification/notification.js
  modules/util/util.js
  package.json
  src/app/core/rpc/new-tx-notifier/new-tx-notifier.service.ts
  yarn.lock
Labels: ready for review

#905 update core/0.16
  modules/clientBinaries/clientBinaries.json
Labels: market, ready for review

#910 Resolve lint & unit test cases
  src/app/core/market/api/cart/cart.service.spec.ts
  src/app/core/market/api/category/category.service.spec.ts
  src/app/core/market/api/favorites/favorites.service.spec.ts
  src/app/core/market/api/favorites/favorites.service.ts
  src/app/core/market/api/listing/listing.model.ts
  src/app/core/market/api/listing/listing.service.spec.ts
  src/app/core/market/api/listing/listing.service.ts
  src/app/core/market/api/profile/profile.service.spec.ts
  src/app/core/market/api/template/image/image.service.spec.ts
  src/app/core/market/api/template/information/information.service.spec.ts
  src/app/core/market/api/template/information/information.service.ts
  src/app/core/market/api/template/location/gps.model.ts
  src/app/core/market/api/template/location/location.service.spec.ts
  src/app/core/market/api/template/location/location.service.ts
  src/app/core/market/api/template/template.model.ts
  src/app/core/market/api/template/template.service.spec.ts
  src/app/core/market/market-state/market-state.service.spec.ts
  src/app/core/market/market.module.ts
  src/app/core/market/market.service.spec.ts
  src/app/core/market/market.service.ts
  src/app/core/util/utils.ts
  src/app/market/buy/buy.component.html
  src/app/market/buy/buy.component.spec.ts
  src/app/market/buy/buy.component.ts
  src/app/market/listing/listing.component.spec.ts
  src/app/market/listing/listing.component.ts
  src/app/market/overview-listings/overview-listings.component.html
  src/app/market/overview-listings/overview-listings.component.spec.ts
  src/app/market/overview-listings/overview-listings.component.ts
  src/app/market/overview-listings/preview-listing/preview-listing.component.html
  src/app/market/overview-listings/preview-listing/preview-listing.component.spec.ts
  src/app/market/overview-listings/preview-listing/preview-listing.component.ts
  src/app/market/sell/add-item/add-item.component.html
  src/app/market/sell/add-item/add-item.component.spec.ts
  src/app/market/sell/add-item/add-item.component.ts
  src/app/market/sell/sell.component.html
  src/app/market/sell/sell.component.spec.ts
Labels: market, ready for review

#891 filter listing on the basis of category
  src/app/core/market/api/category/category.model.ts
  src/app/core/market/api/listing/listing.service.ts
  src/app/market/overview-listings/overview-listings.component.html
  src/app/market/overview-listings/overview-listings.component.ts
Labels: market, ready for review

#917 change name to iso code to fix country filter
  src/app/market/overview-listings/overview-listings.component.html
Labels: market

#922 Hide banners when cart is empty
  src/app/market/buy/buy.component.html
Labels: market, ready for review

#924 Base price handling in cart
  src/app/core/market/api/cart/cart.model.ts
Labels: market, ready for review
